* {
    margin: 0pt;
    display: inline;
}

header {
    height: 50pt;
    width: 100%;
    background-color: blue;
    display: inline-block;
}

#left {
    height: 200pt;
    width: 15%;
    background-color: red;
    display: inline-block;
}

#center {
    height: 200pt;
    width: 69%;
    background-color: yellow;
    display: inline-block;
}

#right {
    height: 200pt;
    width: 15%;
    background-color: green;
    display: inline-block;
}

footer {
    height: 50pt;
    width: 100%;
    background-color: blue;
    display: inline-block;
}